@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');

header{
  color: white;
  background-color: #49274A;
  width: auto;
  height: auto;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  font-family: 'Bree Serif', serif;
  font-size: 22px;
}

#headerpg3{
  background-image: url('../images/bgpage.png');
  background-size: contain;
  background-position: center;
}

.header{
  text-align: center;
}

nav{
  color: black;
  background-color: Lavender;
  width: 55px;
  height: auto;
  margin: auto;
  margin-left: 20px;
  font-size: 12px;
  border-style: dashed;
  border-width: 2px;
  border-color: MediumPurple;
}

nav a{
  list-style: none;
  display: inline-block;
  margin: auto;
  margin-left: 1px;
  padding: 8px;
  color: black;
  text-decoration: none;
}

nav a:hover{
  font-weight: bolder;
}

main{
  background-color: #F8EEE7;
  width: auto;
  height: auto;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  font-family: 'Baskervville', serif;
  font-size: 18px;
}

footer{
  color: white;
  background-color: #49274A;
  width: auto;
  height: 10px;
  padding: 0px 20px 18px 40px;
  margin: 0 auto;
  margin-top: -20px;
  font-family: 'Bree Serif', serif;
}

#h2{
  color: black;
  font-family: 'Bree Serif', serif;
  font-size: 24px;
  margin-left: 20px;
}

.title{
  color: black;
  font-family: 'Bree Serif', serif;
  font-size: 22px;
  margin-left: 30px;
}

#grid1pg1{
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-left: 40px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 50px;
}

#grid1pg2{
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-left: 40px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

#grid1pg3{
  width: auto;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto;
  grid-row-gap: 20px;
}

#grid1pg4{
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-left: 40px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid{
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-left: 40px;
  display: grid;
}
